.navbar-container {
	top: 0;
	.navbar-list {
		width: 100%;
		.menu-item {
			padding-bottom: 20px;
			a {
				color: $color-4;
				font-size: 24px;
				// cursor: pointer;
				&:hover {
					color: #0d47a1;
					text-decoration: none;
					font-weight: bold;
				}
			}
		}
	}
}

/* Position and sizing of burger button */
.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;

	#react-burger-menu-btn {
		cursor: none !important;
	}
}

#react-burger-cross-btn {
	cursor: none !important;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
	background: $color-2;
	border-radius: 50px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
	background: $color-1;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
	background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	position: fixed;
	height: 100%;
}

/* General sidebar styles */
.bm-menu {
	background: rgba(233, 30, 99, 0.9);
	padding: 2.5em 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	text-align: center;
}

/* Individual item */
.bm-item {
	display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	top: 0;
}
